body{
    margin: 0;
    padding: 0;
    background: black;
}
img{
    width: 100%;
}

#header{
    margin: 0;
    padding: 0;
}

.container{
    
    text-align: center;
   
}

h1{
    color: white;
}